*{margin:0; padding: 0; box-sizing: border-box;}
body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
img{width:100%; max-width: 100%; display:block; border:none; height:auto;}

.container{width:1200px; margin:0 auto; padding:50px 0}

.cartListContainer{display:grid; grid-template-columns: 1fr; gap:3rem}
.cartCard{display:flex; justify-content: space-between; align-items: center; border: 1px solid orange; padding:20px;}
.cartImg{display:flex; width:80px; justify-content: center; align-items: center;}

h2{font-size: 25px; font-weight: 600; color:chocolate; width:20rem; flex-wrap: wrap;}
h3{font-size: 20px; font-weight: 500; color:darkblue;}
.cartButton{display:flex; justify-content: center; align-items: center;}
.cartButton button{width:fit-content; padding:2px 20px; background-color: red; color:azure; font-size:16px;transition:all 0.5s ease;border:none; border-radius: 5px;}
.cartButton button:hover{background-color: crimson;}